<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Recipe Details</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../about.css'>
</head>

<body>
    <!---------------------Header for Contact Page---------->
    <header>
        <div class="navbar">
            <div class="mylogo">
                <h1>BELLA'S</h1s>

            </div>
            <nav>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                    <li><a href="/explore">EXPLORE</a></li>

                </ul>
            </nav>
        </div>
    </header>
    <hr>

    <section id="showcase3">
        <div class="container">
            <h2>FULL RECIPE DETAILS</h2>
            <div class="showcase-img">
                <img src="../images/image4.jpg">
                <h3>Home Made Fruits Salad</h3>
            </div>


            <h4>Ingredient List</h4>
            <div class="ingredient-section">

            </div>
            <h4>Recipe Steps</h4>
            <div class="recipe-section">

            </div>


        </div>
    </section>


    <footer>
        <p>designed by ashbella</p>

    </footer>




</body>

</html>