<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Your Recipe</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../contact.css'>
</head>

<body>
    <!---------------------Header for Contact Page-->
    <header>
        <div class="navbar">
            <div class="mylogo">
                <h1>BELLA'S</h1s>

            </div>
            <nav>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                    <li><a href="/explore">EXPLORE</a></li>

                </ul>
            </nav>
        </div>
    </header>
    <section id="showcase2">
        <div class="container">
            <h2>ADD YOUR RECIPE</h2>

            <form action="/contact" method="post">
                <input type="text" class="input2" name="recipy" placeholder="add your recipe name......... "><br>
                <input type="text" class="input2" name="chef" placeholder="enter your name......... "><br>
                <textarea cols="80" rows="10" name="ingredients" placeholder="Recipe Ingredients"></textarea><br>
                <textarea cols="80" rows="10" name="instructions" placeholder="Instruction"></textarea>
                <input type="file" name="imageFile" id="">
                <div class="button-flex">
                    <button class="form-button2">Save Your Recipe</button>
                </div>
            </form>

        </div>

    </section>



    <footer>
        <p>designed by ashbella</p>

    </footer>




</body>

</html>