<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Recipe Details</title>
    <link rel='stylesheet' type='text/css' media='screen' href='../explore.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='../public/style.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/1935d064dd.js" crossorigin="anonymous"></script>
</head>

<body>
    <!---------------------Header for Contact Page---------->
    <header>
        <div class="navbar">
            <div class="mylogo">
                <h1>BELLA'S</h1s>

            </div>
            <nav>
                <ul>
                    <li><a href="/">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                    <li><a href="/explore">EXPLORE</a></li>

                </ul>
            </nav>
        </div>
    </header>
    <!--styling section1-->
    <section>
        <div class="showcase4">
            <div class="chef-details">
                <div class="details">
                    <h2>Name: Ashbella Mahlison</h2>
                    <p>Hello I am Ashbella. I am a professional Chef and I love food a lot. Thanks for dropping by my
                        profile.
                        Enjoy my various recipes. Will be adding more soon.
                    </p>
                    <h5>Location:Accra</h3>

                        <div class="explore-social">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-instagram"></i></a>
                        </div>

                        <button>Get In Touch</button>
                </div>


            </div>

            <div class="chef-image">
                <img src="../images/image13.jpg">

            </div>

        </div>

    </section>

    <section class="section-5">
        <div id="container">
            <h2>LIST OF RECIPES BY ASHBELLA</h2>
            <p class="para">It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout.
                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed
            </p>
            <div class="list-recipes">

                <div class="list-image">
                    <img src="../images/image10.jpg">
                    <p class="image-para">Frying Pan Pizza:The point of using Lorem Ipsum is that </p>

                </div>

                <div class="list-image">
                    <img src="../images/image7.jpg">
                    <p class="image-para">Oat Banana Pancake:The point of using Lorem Ipsum is that </p>

                </div>
                <div class="list-image">
                    <img src="../images/image4.jpg">
                    <p class="image-para">Fruits Ice Cream:The point of using Lorem Ipsum is that </p>

                </div>
                <div class="list-image">
                    <img src="../images/image11.jpg">
                    <p class="image-para">Cheese Bowl Burger :The point of using Lorem Ipsum is that </p>
                </div>
                <div class="list-image">
                    <img src="../images/image12.jpg">
                    <p class="image-para">Oven Fresh Pizza:The point of using Lorem Ipsum is that </p>

                </div>

                <div class="list-image">
                    <img src="../images/image3.jpg">
                    <p class="image-para">Egg Vegetable Toast:The point of using Lorem Ipsum is tha </p>

                </div>

            </div>

        </div>

    </section>

    <section class="section-6">
        <div>
            <h2>Video Cooking Steps</h2>
        </div>

        <video width="100%" height="400" autoplay= "true" loop="true" muted>
            <source src="../videos/video.mp4" type="video/mp4">
            
          </video>   

    </section>

    <footer>
        <div class="flex3">
            <div class="left-social">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>

            </div>

            <div class="right-buttons">
                <button class="but-log">LogOut</button>

            </div>


        </div>

        <p>Powered By Blogger &copy; 2022 | Theme By: <span class="">Ashbella</span> </p>
    </footer>






</body>

</html>