
@import url('https://fonts.googleapis.com/css2?family=Corinthia:wght@700&family=Cormorant+Garamond:wght@300&family=Kalam:wght@300&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Assistant:wght@200&family=Corinthia:wght@700&family=Cormorant+Garamond:wght@300&family=Kalam:wght@300&family=Oswald:wght@200&family=Poppins&family=Tajawal:wght@200;300;400&display=swap');


*{
    padding: 0;
    margin: 0;
}

body{
    line-height: 1.5rem;
    
}

/*styling the header*/

#showcase{
    background-image: url(../images/image1.jpg);
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.mylogo{
    font-size: 1.5rem;
    padding-top: 2rem;
    font-weight: bolder;
    color: white;
    font-family: 'Corinthia';
}
.navbar{
    display: flex;
    justify-content: space-around;
}

nav{
    margin-top: 2rem;
    font-family: 'Oswald';
}

a:hover{
    color: black;
    
    
    
}

nav ul li {
    display: inline;
    text-decoration: none;
    font-size: 1.2rem;
    color: #fff;
    font-weight: bold;
    margin-left: 2rem;
    margin-top: 5rem;
   
}

.navbar ul li a{
    list-style: none;
    text-decoration: none;
    color: #fff;
}

/*styling header button and input field and section*/

.input-1{
    height: 50px;
    width: 600px;
    margin-left: 20rem;
    margin-top: 12rem;
    outline: none;
    border: none;
    border-radius: 10px;
    padding-left: 2rem;
}

::placeholder{
   /* padding: 2rem;*/

}

.button-1{
    padding: 1rem 3.5rem;
    font-size: 1rem;
    background-color: #c07a1f;
    outline: none;
    border: none;
    margin-left: -2rem;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.button-1:hover{
    background-color: black;
    color: white;
}

.showcase-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 15rem;
}

.showcase-text h1{
    color: white;
    font-size: 4rem;
}


#container{
    width: 80%;
    margin: auto;
}

/*styling section1*/

.section1{
    background-color: rgb(240, 236, 236, 0.5);
}

.section-text h2{
    margin-bottom: 2rem;
    font-size: 2rem;
    margin-left: 10rem;
    font-family: 'Oswald';
}


.section1 p{
    width: 80%;
    text-align: justify;
    line-height: 2rem;
    word-spacing: 0.5rem;
    font-size: 1.3rem;
    margin-bottom: 4rem;
    
}

.section1 .button-2{
    padding: 1.5rem 3rem;
    background-color: #c07a1f;
    border: none;
    outline: none;
    color: white;
    font-family: 'Oswald';
    border-radius: 5px;
    font-size: 1.2rem;
    margin-top: 2rem;
    cursor: pointer;

}

.section1 .button-2:hover{
    background-color: black;
    color: white;
}

.section1 img{
    width: 35rem;
    height:30rem;
    border-radius: 5px;
    object-fit: cover;
    object-position: 50% 50%;
    
}


.flex1{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding-top: 7rem;
}

/*.button-2{
    padding: 2rem 9rem;
    margin-top: 9rem;
    font-size: 1.5rem;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.9);
    outli
    font-family: 'Oswald';

}*/

.button-2:hover{
    background-color: #F9C7BD;
    color: white;
}



/* styling section2*/
.section2 h2{
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 4rem;
    font-family: 'Oswald';

}

.main-card{
    display: flex;
    justify-content: center;
    gap: 1.7em;

}

.inside-card{
    height: 28rem;
    width: 20rem;
    border-radius: 18px;
    box-shadow: 5px 5px 15px rgba(141, 140, 140, 0.9);  
    transition: 0.5s ease; 
    margin-bottom: 10rem;

}

.inside-card:hover{
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.inside-card img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.card-text{
    text-align: center;
    margin-top: 2rem;
    font-size: 1rem;
    font-family: 'Oswald';
}

.card-but1{
    padding: 1rem 2rem;
    margin-top: 2rem;
    border: none;
    outline: none;
    background-color: #c07a1f;
    text-align: center;
    color: white;
    margin-left: 5rem;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    font-family: 'Oswald';
}

.card-but1:hover{
    transform: scale(1.2);

}




/*styling section-4*/
#section-4{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), 
    rgba(0, 0, 0, 0.5)), url(../images/image8.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;

}

#section-4 h2{
    text-align: center;
    color: white;
    font-family: 'Oswald';
    font-size: 1.8rem;
    font-weight: bolder;
    padding-top: 2rem;

}

.flex2{
    display: flex;
}

.category p{
    border: 2px dashed #c07a1f;
    padding-bottom: 15rem;
    padding-left: 3rem;
    padding-right: 3rem ;

}

.flex2 p{
    width: 50%;
    color: #fff;
    line-height: 1.5rem;
    margin-top: 4rem;
    padding-top: 5rem;
    font-size: 1.1rem;


}

.side-buttons{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 20px;
}

.side-buttons button{
    /*padding:  2.5rem 4rem;*/
    height: 150px;
    width: 200px;
    background-color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    font-family: 'Oswald';
    font-size: 1.6rem;
    white-space: pre-wrap;
    cursor: pointer;
}

.side-buttons button:hover{
    background-color:#c07a1f; 
    color: #fff;
}
 
/*styling the footer*/

footer{
    background-color: rgb(68, 67, 67);
    height: 200px;
    font-family: 'Oswald';
    font-size: 0.9rem;
    
}

footer p{
    color: #fff;
    display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
   

}

footer button{
    padding: 1rem 3rem;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
    
}

footer button:hover{
    background-color: black;
    color: white;
}

.but-log:hover{
    background-color:#c07a1f;
    color: white;
    

}

.sign-up{
    background-color: #c07a1f;
    color: #fff;
}

.flex3{
    display: flex;
    justify-content: space-around;
    padding-top: 4rem;
}

.left-social{
    font-size: 2rem;
    
}

.left-social a{
    color: white;
}

